{
  --colorOne: 38 100% 85%;
  --colorTwo: 39 100% 90%;
  --colorThr: 40 100% 95%;
  --colorFou: 38 100% 96%;
  --colorFiv: 39 100% 95%;
  --colorSix: 37 100% 90%;
  --colorSev: 40 100% 93%;
  --colorEig: 39 100% 89%;
  --colorNin: 40 100% 99%;
}